{% extends 'admin/master.html' %}

{% block body %}
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Admin Dashboard</h1>
        <p>Creates admin pages with minimal effort. Just define the data objects and some relationships between them and the plugin with generate all the html pages used to manage the objects.</p>
        <p>
            <h2>Database Schema</h2>
            <img src="{{ url_for('adminapi.static', filename='schema.png') }}" style="width: 100%; display: block; margin: 0 auto;" alt="Database Schema">
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}